src/main/resources/schema/infinispan-cachestore-redis-config-8.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:store:redis:8.0"
           xmlns:tns="urn:infinispan:config:store:redis:8.0"
           xmlns:config="urn:infinispan:config:8.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="urn:infinispan:config:8.0"
               schemaLocation="http://www.infinispan.org/schemas/infinispan-config-8.0.xsd" />

    <xs:element name="redis-store" type="tns:redis-store"/>

    <xs:complexType name="redis-store">
        <xs:complexContent>
            <xs:extension base="config:store">
                <xs:sequence>
                    <xs:element name="redis-server" type="tns:redis-server" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="sentinel-server" type="tns:sentinel-server" minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="connection-pool" type="tns:connectionPool" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Configuration of the connection pool
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>

                <xs:attribute name="topology" type="tns:topology" default="cluster">
                    <xs:annotation>
                        <xs:documentation>
                            Redis deployment topology. Valid options are cluster, sentinel, or server.
                            Selecting cluster or server requires the declaration of one or more redis servers.
                            Selecting sentinel requires the declaration of one or more sentinel servers.
                            Defaults to cluster.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="max-redirections" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            Maximum number of redirections when using a cluster topology.
                            If unspecified, defaults to 5.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="master-name" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            The master name when using a sentinel topology.
                            If unspecified, defaults to null.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="database" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            The database index on the remote Redis server that data should be stored within.
                            If unspecified, 0 will be used. Not supported by and so ignored when used
                            with cluster topology.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="password" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            The password used to connect to the Redis server. The default is null.
                            Not supported by and so ignored when used with cluster topology.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="socket-timeout" type="xs:long" default="60000">
                    <xs:annotation>
                        <xs:documentation>
                            Enable/disable SO_TIMEOUT on socket connections to servers with the
                            specified timeout, in milliseconds.
                            A timeout of zero is interpreted as an infinite timeout.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="connection-timeout" type="xs:int" default="60000">
                    <xs:annotation>
                        <xs:documentation>
                            This property defines the maximum socket connect timeout before giving
                            up connecting to the server.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="topology">
        <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element name="cluster" type="xs:string"/>
            <xs:element name="sentinel" type="xs:string"/>
            <xs:element name="server" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="redis-server">
        <xs:complexContent>
            <xs:attribute name="host" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The hostname or ip address of a Redis server
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="port" type="xs:int" default="6379">
                <xs:annotation>
                    <xs:documentation>
                        The port on which the server is listening (default 6379)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="sentinel-server">
        <xs:complexContent>
            <xs:attribute name="host" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The hostname or ip address of a Sentinel server
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="port" type="xs:int" default="26379">
                <xs:annotation>
                    <xs:documentation>
                        The port on which the server is listening (default 26379)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="connectionPool">
        <xs:attribute name="min-idle" type="xs:int" default="1">
            <xs:annotation>
                <xs:documentation>
                    Sets a target value for the minimum number of idle connections (per server)
                    that should always be available. If this parameter is set to a positive number and
                    timeBetweenEvictionRunsMillis > 0, each time the idle connection eviction thread
                    runs, it will try to create enough idle instances so that there will be minIdle
                    idle instances available for each server. The default setting for this parameter
                    is 1.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="max-idle" type="xs:int" default="-1">
            <xs:annotation>
                <xs:documentation>
                    Controls the maximum number of idle persistent connections, per server, at any time.
                    When negative, there is no limit to the number of connections that may be idle per server.
                    The default setting for this parameter is -1.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="max-total" type="xs:int" default="-1">
            <xs:annotation>
                <xs:documentation>
                    Sets a global limit on the number persistent connections that can be in circulation
                    within the combined set of servers. When non-positive, there is no limit to the total
                    number of persistent connections in circulation. When maxTotal is exceeded, all
                    connections pools are exhausted. The default setting for this parameter is -1 (no limit).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="min-evictable-idle-time" type="xs:long" default="1800000">
            <xs:annotation>
                <xs:documentation>
                    Specifies the minimum amount of time that an connection may sit idle in the pool before
                    it is eligible for eviction due to idle time. When non-positive, no connection will be
                    dropped from the pool due to idle time alone. This setting has no effect unless
                    timeBetweenEvictionRunsMillis > 0. The default setting for this parameter is
                    1800000(30 minutes).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="time-between-eviction-runs" type="xs:long" default="120000">
            <xs:annotation>
                <xs:documentation>
                    Indicates how long the eviction thread should sleep before "runs" of examining idle
                    connections. When non-positive, no eviction thread will be launched. The default
                    setting for this parameter is 2 minutes.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="test-on-create" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Test a connection for connectivity on creation in to the connection pool. Defaults is false.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="test-on-borrow" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Test a connection for connectivity on borrow from connection pool. Defaults is false.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="test-on-return" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Test a connection for connectivity on return to the connection pool. Defaults is false.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="test-on-idle" type="xs:boolean" default="false">
            <xs:annotation>
                <xs:documentation>
                    Test a connection for connectivity whilst idling. Defaults is false.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>