src/main/resources/schema/infinispan-cachestore-redis-config-8.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:store:remote:8.0"
           xmlns:tns="urn:infinispan:config:store:remote:8.0"
           xmlns:config="urn:infinispan:config:8.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="urn:infinispan:config:8.0"
               schemaLocation="http://www.infinispan.org/schemas/infinispan-config-8.0.xsd" />

    <xs:element name="redis-store" type="tns:redis-store"/>

    <xs:complexType name="redis-store">
        <xs:complexContent>
            <xs:extension base="config:store">
                <xs:sequence>
                    <xs:element name="redis-server" type="tns:redis-server" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>

                <xs:attribute name="database" type="xs:int">
                    <xs:annotation>
                        <xs:documentation>
                            The name of the remote cache in the remote infinispan cluster, to which to connect to.
                            If unspecified, the default cache will be used
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="password" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            The name of the remote cache in the remote infinispan cluster, to which to connect to.
                            If unspecified, the default cache will be used
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="redis-server">
        <xs:complexContent>
            <xs:attribute name="host" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The hostname or ip address of a Redis cluster server
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="port" type="xs:int" default="6380">
                <xs:annotation>
                    <xs:documentation>
                        The port on which the server is listening (default 6380)
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>

            <xs:attribute name="ssl" type="xs:boolean" default="false">
                <xs:annotation>
                    <xs:documentation>
                        Whether the server requires SSL to establish a connection (default false).
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>