src/main/resources/schema/infinispan-cachestore-redis-config-8.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0"
           targetNamespace="urn:infinispan:config:store:remote:8.0"
           xmlns:tns="urn:infinispan:config:store:remote:8.0"
           xmlns:config="urn:infinispan:config:8.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:import namespace="urn:infinispan:config:8.0"
               schemaLocation="http://www.infinispan.org/schemas/infinispan-config-8.0.xsd" />

    <xs:element name="redis-store" type="tns:redis-store"/>

    <xs:complexType name="redis-store">
        <xs:complexContent>
            <xs:extension base="config:store">
                <xs:sequence>
                    <!--<xs:element name="remote-server" type="config:remote-server" minOccurs="1" maxOccurs="unbounded"/>-->
                    <xs:element name="connection-pool" type="tns:connectionPool" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Configuration of the connection pool
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>

                <xs:attribute name="socket-timeout" type="xs:long" default="60000">
                    <xs:annotation>
                        <xs:documentation>
                            Enable/disable SO_TIMEOUT on socket connections to remote
                            Redis servers with the specified timeout, in milliseconds.
                            A timeout of zero is interpreted as an infinite timeout.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="connection-timeout" type="xs:int" default="60000">
                    <xs:annotation>
                        <xs:documentation>
                            This property defines the maximum socket connect timeout
                            before giving up connecting to the server.
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>

                <xs:attribute name="cache" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            The name of the remote cache in the remote infinispan cluster, to which to connect to.
                            If unspecified, the default cache will be used
                        </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="connectionPool">
        <xs:attribute name="max-active" type="xs:int" default="-1">
            <xs:annotation>
                <xs:documentation>
                    Controls the maximum number of connections per server that are allocated (checked out to client threads,
                    or idle in the pool) at one time. When non-positive, there is no limit to the number of connections per server.
                    When maxActive is reached, the connection pool for that server is said to be exhausted.
                    The default setting for this parameter is -1, i.e. there is no limit.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="max-idle" type="xs:int" default="-1">
            <xs:annotation>
                <xs:documentation>
                    Controls the maximum number of idle persistent connections, per server, at any time. When negative,
                    there is no limit to the number of connections that may be idle per server.
                    The default setting for this parameter is -1.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="max-total" type="xs:int" default="-1">
            <xs:annotation>
                <xs:documentation>
                    Sets a global limit on the number persistent connections that can be in circulation within the
                    combined set of servers. When non-positive, there is no limit to the total number of persistent
                    connections in circulation. When maxTotal is exceeded, all connections pools are exhausted.
                    The default setting for this parameter is -1 (no limit).
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>

        <xs:attribute name="min-idle" type="xs:int" default="1">
            <xs:annotation>
                <xs:documentation>
                    Sets a target value for the minimum number of idle connections (per server) that should always be
                    available. If this parameter is set to a positive number and timeBetweenEvictionRunsMillis > 0,
                    each time the idle connection eviction thread runs, it will try to create enough idle instances so
                    that there will be minIdle idle instances available for each server.
                    The default setting for this parameter is 1.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>